@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lobster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0, 44%, 95.1%;
    --foreground: 193.04, 50%, 5.0%;
    --primary: 25.6, 100%, 57.25%;
    --primary-foreground: 0, 44%, 95.1%;
    --secondary: 198.1, 100%, 12.35%;
    --secondary-foreground: 0, 44%, 95.1%;
    --radius: none;
  }

  
  .dark {
    --background: 0, 0%, 10%;
    --foreground: 193.04, 50%, 95.0%;
    --primary: 25.6, 100%, 57.25%;
    --primary-foreground: 0, 0%, 10%;
    --secondary: 198.1, 100%, 12.35%;
    --secondary-foreground: 0, 0%, 10%;
  }

}

