@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lobster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0, 44%, 95.1%;
    --foreground: 193.04, 50%, 5.0%;
    --primary: 25.6, 100%, 57.25%;
    --primary-foreground: 0, 44%, 95.1%;
    --secondary: 198.1, 100%, 12.35%;
    --secondary-foreground: 0, 44%, 95.1%;
    --radius: none;

    --card1-background: 360, 100%, 50%;
    --card1-foreground: 0, 0%, 10%;

    --card2-background: 0, 0%, 100%;
    --card2-foreground: 0, 0$, 100$;
    
    --card3-background: 0, 0%, 100%;
    --card3-foreground: 0, 0%, 100%;

    --card4-background: 0, 0%, 100%;
    --card4-foreground: 0, 0%, 100%;

    --card5-background: 0, 0%, 100%;
    --card5-foreground: 0, 0%, 100%;
  }

  
  .dark {
    --background: 0, 0%, 10%;
    --foreground: 193.04, 50%, 95.0%;
    --primary: 25.6, 100%, 57.25%;
    --primary-foreground: 0, 0%, 10%;
    --secondary: 198.1, 100%, 12.35%;
    --secondary-foreground: 0, 0%, 10%;
  }

}

